.navigationBar {
    box-sizing: border-box;
    background-color: rgb(161, 161, 161);
    
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex: flex-grow flex-shrink flex-basis;
    flex: 1 1 100%;
    position: fixed;
    /*flex-basis: auto;*/

}
